{% extends 'main/base.html' %}

{% block title%}
{{ title }}
{% endblock %}

{% block content%}
    <h4><b>Leitner system</b></h4>
    <p> In this method, flashcards are sorted into groups according to how well the learner knows each one in Leitner's learning box.
        The learners try to recall the solution written on a flashcard. If they succeed, they send the card to the next group.
        If they fail, they send it back to the first group. </p>
    <br>
    <br>
    <h6><b>This site was created by Yurii Hordiichuk</b></h6>

{% endblock %}

